{{<partials/header}}

    {{#showWelcome}}
        <p>Opa {{ name }}, Tudo bem?</p>
    {{/showWelcome}}

    {{#showOld}}
     Como vai a vida?
    {{/showOld}}

    {{^showOld}}
     Beleza?
    {{/showOld}}

    <hr>

    <h2>Produtos</h2>

    <ul>
        {{#products}} 
            {{>partials/productItem}}
        {{/products}}
    </ul>

    <hr>
 
    <h2>Produtos a partir de R$ 12</h2>

    <ul>
        {{#expensive}} 
            {{>partials/productItem}}
        {{/expensive}}
    </ul>
    
    <hr>

    <ul>
        {{#frasesDoDia}}
            <li>{{.}}</li>
        {{/frasesDoDia}}

        {{^frasesDoDia}}
            Não há frases para mostrar
        {{/frasesDoDia}}
    </ul>
{{>partials/footer}}
